@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
    color: #1a3441;
    @screen sm {
        font-size: 20px;
    }
}

.background-sky {
    background: linear-gradient(180deg, #b1cfeb 0%, #eaeff5 100%);
}

.background-sea {
    background: linear-gradient(180deg, #2259c5 0%, #213c66 50%, #101b2a 70%, #000 100%);
}

h2 {
    font-size: 32px;
    font-weight: bold;

    @screen sm {
        font-size: 40px;
    }
}
