@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    overflow-x: hidden;
}

.background-sky {
    background: linear-gradient(180deg, #b1cfeb 0%, #eaeff5 100%);
}

.background-sea {
    background: linear-gradient(180deg, #2259c5 0%, #213c66 50%, #101b2a 70%, #000 100%);
}
