@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    overflow-x: hidden;
}

.background-sea {
    background: linear-gradient(180deg, #b1cfeb 2.65%, #2259c5 38.64%, #213c66 67.76%, #101b2a 100%);
}
