.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    overflow: hidden;

    // DEBUG
    // border: 2px solid black;
    // width: 200px;
    // height: 200px;
    // overflow: visible;
}
