.clip {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06242e;
    mix-blend-mode: lighten;
    z-index: 7;

    .clipping-circle {
        @apply bg-black rounded-full;
        width: 100px;
        height: 100px;
    }
}
