.clip {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent; // #06242e;
    mix-blend-mode: lighten;
    z-index: 7;

    .clipping-circle {
        position: absolute;
        left: 50%;
        top: 25%;
        @apply bg-black rounded-full;
        width: 15vh;
        height: 15vh;
        transform: translate(-50%, -50%);
    }
}

.where {
    @apply flex flex-col gap-[4vh] px-[7vh];
    li {
        @apply flex flex-row items-center gap-[3.5vh];

        .icon-container {
            @apply relative w-8 h-8 sm:w-16 sm:h-16;
        }
    }
}
