html,
body {
    margin: 0;
}
body {
    background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #b7e8eb 100%);
    overflow-x: hidden;
}

.ocean-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100vh;
    width: 100%;
}

.deep {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#015871, #131834);
}
